<!DOCTYPE html>
<link rel="stylesheet" crossorigin="anonymous"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

<script crossorigin="anonymous"
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
</script>
<html lang="en-US" dir="ltr">
<head>
    <title>CDTracks</title>
</head>

<body>
    <h2>List</h2>
</body>
<table class="table">
    <thead>
        {% for col in cols %}
        <tr>
        <th scope="col">{{col}}</th>
        </tr>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row }}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>